@import url(https://help.kartmax.in/assets/fonts/mulish-v10-latin-800.woff2);

@import url(chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Book.woff2);



.me-5 {
    margin-right: 26rem !important;
}

.ml-5 {
    margin-left: 26rem !important;
}


/* Custom CSS */
/* Custom CSS for md and sm screens */
@media (max-width: 991.98px) {
    .navbar-toggler {
        order: 2;
        /* Moves the toggler to the right */
    }

    .navbar-brand {
        margin-right: auto;
        /* Pushes the logo to the left */
    }

    .navbar-collapse {
        justify-content: flex-end;
        /* Aligns items to the right */
    }
}

/* another search bar */

.navbar>.container-fluid {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


.navbar-toggler {
    border: none;
    background-color: transparent;
    color: white;
}

.offcanvas {
    background-color: rgb(180, 180, 180);
    color: white;
}

#offcanvas-li {
    color: white;
}

.gh-foot {
    color: #333;
    padding-bottom: 8rem;
    padding-top: 8rem;
    white-space: nowrap;
}

.gh-foot-inner {
    color: rgb(155, 155, 155);
    display: grid;
    font-size: 15px;
    gap: 40px;
    grid-template-columns: 7fr auto 1fr;
}

.gh-inner {
    margin: 0 auto;
    max-width: 1200px;
}

a {
    color: rgb(155, 155, 155);
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {

    .gh-foot-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media (max-width: 768px) {

    #article-image {
        width: 100%;
    }
}
